<div class="container-contact100">
    <div class="wrap-contact10">
     <span class="contact100-form-title">
         Alternative contacts
     </span>
 
     <form [formGroup]="alternativesaveform" #savealternative (ngSubmit)="saveAlternative(saveAlternative)">
       <div class="form-group">
           <label class="for"> AlternativeName:</label> 
         </div>
          <div class="">
            <label> <input type="text" class="form-control" formControlName="alternativeName" data-toggle="tooltip"  data-placement="right" title="Enter Alternative Name" ></label> <br><br>    
            <div class="alert alert-danger" *ngIf = "(EmployeeAlternativeName.touched) && (EmployeeAlternativeName.invalid)" style="margin-top: 5px;">    
              <span *ngIf="EmployeeAlternativeName.errors.required">EmployeeAlternative Name is Required</span>  
              <span *ngIf = "EmployeeAlternativeName.errors.minlength">   
                  MinLength Error   
              </span>                     
            </div>   
         </div>
        
          <div class="form-group">
           <label class="for">AlternativeNum:</label>
         </div>
         <div class="">
          <label> <input type="text" class="form-control" formControlName="alternativeNum" data-toggle="tooltip"  data-placement="right" title="Enter Employee Number" ></label> <br><br>    
          <div class="alert alert-danger" *ngIf = "(EmployeeNum.touched) && (EmployeeNum.invalid)" style="margin-top: 5px;">    
            <span *ngIf="EmployeeNum.errors.required">Employee Number is Required</span>  
            <span *ngIf = "EmployeeNum.errors.minlength">   
                MinLength Error   
            </span>                     
          </div>           
        </div>

          <div class="form-group">
           <label class="for">AlternativeEmail:</label>
         </div>
          <div class="">
            <label> <input type="text" class="form-control" formControlName="alternativeEmail" data-toggle="tooltip"  data-placement="right" title="Enter AlternativeEmail" ></label> <br><br>       
          </div>
          <button type="submit" class="btn btn-success">Submit</button>  
       </form>
   </div>
 </div>